<section class="section" id="about">
  <div class="container">
    <div class="title-img-desc-container">
      <h2 class="about-title">About the game</h2>

      <img src="./img/about/about-arrow.png" alt="Arrow descoration" class="arrow-img">

      <p class="about-mob-slogan">Your Culinary Story Begins Here</p>

      <p class="about-desc">In Delish Match, you&apos;re not just playing — you&apos;re building your culinary legacy.
        From street food carts to luxury restaurants, every decision shapes your world. <span>It&apos;s your restaurant,
          your story, your game.</span>
      </p>
    </div>

    <p class="about-desk-slogan">Your Culinary Story Begins Here</p>

    <ul class="about-list">

      <li class="about-item">
        <p class="about-item-number">01</p>
        <h3 class="about-item-title">Enjoy</h3>
        <p class="about-item-desc">Enjoy of experience addictive match-3 gameplay.</p>
      </li>

      <li class="about-item">
        <p class="about-item-number">02</p>
        <h3 class="about-item-title">Combine</h3>
        <p class="about-item-desc">Combine immersive restaurant design with building business strategy.</p>
      </li>

      <li class="about-item">
        <p class="about-item-number">03</p>
        <h3 class="about-item-title">Addict</h3>
        <p class="about-item-desc">Immerse yourself in the business world and character-driven storytelling.</p>
      </li>

    </ul>
  </div>
</section>