<section class="section" id="characters">
  <div class="container">
    <h2 class="char-title">Characters</h2>
    <p class="char-subtitle">A World Full of Flavorful Personalities</p>
    <p class="char-desc">
      Follow Amelia&apos;s journey as she rises in the culinary world. Along the way, you&apos;ll meet a charming cast
      of
      characters — fellow chefs, loyal customers, mysterious investors, and quirky staff members. Engage in their
      stories, build friendships, and uncover surprising secrets.
    </p>


    <div class="swiper mySwiper char-swiper" data-action="mySwiper">
      <ul class="swiper-wrapper char-list">
        <li class="swiper-slide char-item">
          <img class="char-item-img" src="/img/characters/amelia.png"
            srcset="/img/characters/amelia.png 1x, /img/characters/amelia@2x.png 2x" alt="Amelia's photo" width="220"
            height="300">
          <h3 class="char-item-name">Amelia</h3>
          <p class="char-item-desc">Young chef with a dream</p>
        </li>

        <li class="swiper-slide char-item">
          <img class="char-item-img" src="/img/characters/leo.png"
            srcset="/img/characters/leo.png 1x, /img/characters/leo@2x.png 2x" alt="Leo's photo" width="220"
            height="300">
          <h3 class="char-item-name">Leo</h3>
          <p class="char-item-desc">Delivery guy with talent</p>
        </li>

        <li class="swiper-slide char-item">
          <img class="char-item-img" src="/img/characters/grandma.png"
            srcset="/img/characters/grandma.png 1x, /img/characters/grandma@2x.png 2x" alt="Grandma's photo" width="220"
            height="300">
          <h3 class="char-item-name">Grandmother</h3>
          <p class="char-item-desc">Amelia&apos;s head teacher</p>
        </li>

        <li class="swiper-slide char-item">
          <img class="char-item-img" src="/img/characters/stacy.png"
            srcset="/img/characters/stacy.png 1x, /img/characters/stacy@2x.png 2x" alt="Stacy's photo" width="220"
            height="300">
          <h3 class="char-item-name">Stacy</h3>
          <p class="char-item-desc">Amelia&apos;s cousin</p>
        </li>
      </ul>

      <div class="swiper-pagination" data-action="swiper-pagination"></div>
    </div>
  </div>
</section>