<section class="section" id="community">
  <div class="container">
    <h2>Community</h2>
    <h3 class="community-subtitle">Join the Conversation</h3>
    <p class="community-desc">
      Delish Match is more than a game — it&apos;s a
      <span class="community-desc-path">growing community</span> of players,
      decorators, and storytellers. Follow us for behind-the-scenes looks,
      player events, design contests, and developer Q&As.
    </p>
    <div aria-hidden="true" class="arrow-wrap">
      <div class="arrow-left"></div>
      <div class="arrow-right"></div>
    </div>
    <div class="community-wrap">
      <div class="community-social-wrap">
        <h3 class="community-subtitle community-subtitle-margin">Find us on</h3>
        <div class="arrow-social-wrap" aria-hidden="true">
          <div class="arrow-to-instagram"></div>
          <div class="arrow-to-twitter"></div>
          <div class="arrow-to-youtube"></div>
          <div class="arrow-to-discord"></div>
        </div>
        <ul class="community-social-list">
          <li class="community-social-item">
            <a href="#" class="community-social-link">
              <picture>
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/community/desctop/instagram-desc.png    1x,
                    /img/community/desctop/instagram-desc@2x.png 2x
                  "
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    /img/community/mobile/instagram-mob.png    1x,
                    /img/community/mobile/instagram-mob@2x.png 2x
                  "
                />
                <img
                  class="community-social-img"
                  src="/img/community/mobile/instagram-mob.png"
                  alt="Instagram"
                  loading="lazy"
                />
              </picture>
            </a>
            <p class="community-social-desc">Instagram</p>
          </li>
          <li class="community-social-item">
            <a href="#" class="community-social-link">
              <picture>
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/community/desctop/twitter-desc.png    1x,
                    /img/community/desctop/twitter-desc@2x.png 2x
                  "
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    /img/community/mobile/twitter-mob.png    1x,
                    /img/community/mobile/twitter-mob@2x.png 2x
                  "
                />
                <img
                  class="community-social-img"
                  src="/img/community/mobile/twitter-mob.png"
                  alt="Twitter"
                  loading="lazy"
                />
              </picture>
            </a>
            <p class="community-social-desc">X</p>
          </li>
          <li class="community-social-item">
            <a href="#" class="community-social-link">
              <picture>
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/community/desctop/youtube-desc.png    1x,
                    /img/community/desctop/youtube-desc@2x.png 2x
                  "
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    /img/community/mobile/youtube-mob.png    1x,
                    /img/community/mobile/youtube-mob@2x.png 2x
                  "
                />
                <img
                  class="community-social-img"
                  src="/img/community/mobile/youtube-mob.png"
                  alt="Youtube"
                  loading="lazy"
                />
              </picture>
            </a>
            <p class="community-social-desc">YouTube</p>
          </li>
          <li class="community-social-item">
            <a href="#" class="community-social-link">
              <picture>
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/community/desctop/discord-desc.png    1x,
                    /img/community/desctop/discord-desc@2x.png 2x
                  "
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    /img/community/mobile/discord-mob.png    1x,
                    /img/community/mobile/discord-mob@2x.png 2x
                  "
                />
                <img
                  class="community-social-img"
                  src="/img/community/mobile/discord-mob.png"
                  alt="Discord"
                  loading="lazy"
                />
              </picture>
            </a>
            <p class="community-social-desc">Discord</p>
          </li>
        </ul>
      </div>
      <div class="community-featured-wrap">
        <h3 class="community-subtitle community-subtitle-margin">
          Featured on
        </h3>
        <div class="arrow-featured-wrap" aria-hidden="true">
          <div class="arrow-to-appinsider"></div>
          <div class="arrow-to-indieplates"></div>
          <div class="arrow-to-gamevista"></div>
        </div>
        <ul class="community-featured-list">
          <li class="community-featured-item">
            <p class="community-featured-text">AppInsider</p>
          </li>
          <li class="community-featured-item">
            <p class="community-featured-text">IndiePlates Weekly</p>
          </li>
          <li class="community-featured-item">
            <p class="community-featured-text">GameVista</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

