<section class="section section-customization" id="customization">
  <div class="container">
    <h2>Customization</h2>
    <h3 class="customization-subtitle">Design with Style</h3>
    <div class="swiper" data-swiper="customization">
      <div class="swiper-wrapper customization-swiper-wrap">
        <div class="swiper-slide customization-swiper-slide">
          <img
            src="/img/customization/hot-dog.jpg"
            srcset="
              /img/customization/hot-dog.jpg    1x,
              /img/customization/hot-dog@2x.jpg 2x
            "
            loading="lazy"
            alt="Three hot dogs on a skewer"
            class="swiper-slide-card"
            width="160"
            height="220"
          />
        </div>
        <div class="swiper-slide customization-swiper-slide">
          <img
            src="/img/customization/icecream.jpg"
            srcset="
              /img/customization/icecream.jpg    1x,
              /img/customization/icecream@2x.jpg 2x
            "
            loading="lazy"
            alt="Ice cream cone silhouette"
            class="swiper-slide-card"
            width="160"
            height="220"
          />
        </div>
        <div class="swiper-slide customization-swiper-slide">
          <img
            src="/img/customization/tree.jpg"
            srcset="
              /img/customization/tree.jpg    1x,
              /img/customization/tree@2x.jpg 2x
            "
            loading="lazy"
            alt="Potted tree in a wooden box"
            class="swiper-slide-card"
            width="160"
            height="220"
          />
        </div>
        <div class="swiper-slide customization-swiper-slide">
          <img
            src="/img/customization/fountain.jpg"
            srcset="
              /img/customization/fountain.jpg    1x,
              /img/customization/fountain@2x.jpg 2x
            "
            loading="lazy"
            alt="Charming decorative fountain"
            class="swiper-slide-card"
            width="160"
            height="220"
          />
        </div>
      </div>
      <div class="swiper-pagination" data-swiper="pagination"></div>
    </div>
    <p class="customization-text">
      Win puzzle rewards to design your dream restaurant — from cozy cafés to
      upscale spots. Customize furniture, decor, and more to impress customers
      and build an unforgettable brand.
    </p>
  </div>
</section>
