<section class="section" id="features">
  <div class="container">
    <h2 class="features-title">Features</h2>
    <p class="features-desc">Why Players Love Delish Match</p>

    <ul class="features-mob-list">
      <li class="features-mob-item">
        <p class="features-mob-text">Personalize and style unique restaurants</p>
        <img class="features-mob-img" src="/img/features/mob/features-1.png"
          srcset="/img/features/mob/features-1.png 1x, /img/features/mob/features-1@2x.png 2x"
          alt="Interiors and exteriors from the game" loading="lazy" width="288" height="240">
      </li>

      <li class="features-mob-item">
        <p class="features-mob-text">Unlock exciting menu items and decorations</p>
        <img class="features-mob-img" src="/img/features/mob/features-2.png"
          srcset="/img/features/mob/features-2.png 1x, /img/features/mob/features-2@2x.png 2x"
          alt="Features second image" loading="lazy" width="292" height="196">
      </li>

      <li class="features-mob-item">
        <p class="features-mob-text">Enjoy light management simulation elements</p>
        <img class="features-mob-img" src="/img/features/mob/features-3.png"
          srcset="/img/features/mob/features-3.png 1x, /img/features/mob/features-3@2x.png 2x"
          alt="Portraits of waiters" loading="lazy" width="287" height="218">
      </li>

      <li class="features-mob-item">
        <p class="features-mob-text">Discover dozens of unlockable characters</p>
        <img class="features-mob-img" src="/img/features/mob/features-4.png"
          srcset="/img/features/mob/features-4.png 1x, /img/features/mob/features-4@2x.png 2x"
          alt="Portraits of a man and a girl" loading="lazy" width="276" height="240">
      </li>

      <li class="features-mob-item">
        <p class="features-mob-text">Match-3 gameplay with original mechanics</p>
        <img class="features-mob-img" src="/img/features/mob/features-5.png"
          srcset="/img/features/mob/features-5.png 1x, /img/features/mob/features-5@2x.png 2x"
          alt="Image of the game three in a row" loading="lazy" width="288" height="174">
      </li>

      <li class="features-mob-item">
        <p class="features-mob-text">Progress through an episodic narrative</p>
        <img class="features-mob-img" src="/img/features/mob/features-6.png"
          srcset="/img/features/mob/features-6.png 1x, /img/features/mob/features-6@2x.png 2x"
          alt="Cards with ratings of game levels" loading="lazy" width="288" height="170">
      </li>

      <li class="features-mob-item">
        <p class="features-mob-text">Regular updates with new events and content</p>
        <img class="features-mob-img" src="/img/features/mob/features-7.png"
          srcset="/img/features/mob/features-7.png 1x, /img/features/mob/features-7@2x.png 2x"
          alt="Photos of the game covers" loading="lazy" width="254" height="610">
      </li>
    </ul>

    <div class="desk-features-content">
      <div class="accordion-container">
        <ul class="accordion-list" data-action="accordion-list">
          <li class="accordion-item">
            <button
              type="button"
              class="accordion-button"
              data-image="features-1"
              data-active="button"
              data-action="accordion-button"
            >
              Personalize and style unique restaurants
            </button>
          </li>

          <li class="accordion-item">
            <button
              type="button"
              class="accordion-button"
              data-image="features-2"
              data-action="accordion-button"
            >
              Unlock exciting menu items and decorations
            </button>
          </li>

          <li class="accordion-item">
            <button
              type="button"
              class="accordion-button"
              data-image="features-3"
              data-action="accordion-button"
            >
              Enjoy light management simulation elements
            </button>
          </li>

          <li class="accordion-item">
            <button
              type="button"
              class="accordion-button"
              data-image="features-4"
              data-action="accordion-button"
            >
              Discover dozens of unlockable characters
            </button>
          </li>

          <li class="accordion-item">
            <button
              type="button"
              class="accordion-button"
              data-image="features-5"
              data-action="accordion-button"
            >
              Match-3 gameplay with original mechanics
            </button>
          </li>

          <li class="accordion-item">
            <button
              type="button"
              class="accordion-button"
              data-image="features-6"
              data-action="accordion-button"
            >
              Progress through an episodic narrative
            </button>
          </li>

          <li class="accordion-item">
            <button
              type="button"
              class="accordion-button"
              data-image="features-7"
              data-action="accordion-button"
            >
              Regular updates with new events and content
            </button>
          </li>
        </ul>
      </div>

      <div class="image-display-container">
        <img src="/img/features/desk/features-1.png"
          srcset="/img/features/desk/features-1.png 1x, /img/features/desk/features-1@2x.png 2x"
          alt="Interiors and exteriors from the game" id="features-1" class="feature-image" data-action="feature-image"
          data-active="image" loading="lazy" width="510" height="604" />

        <img src="/img/features/desk/features-2.png"
          srcset="/img/features/desk/features-2.png 1x, /img/features/desk/features-2@2x.png 2x"
          alt="Features second image" id="features-2" class="feature-image" data-action="feature-image" loading="lazy"
          width="510" height="596" />

        <img src="/img/features/desk/features-3.png"
          srcset="/img/features/desk/features-3.png 1x, /img/features/desk/features-3@2x.png 2x"
          alt="Portraits of waiters" id="features-3" class="feature-image" data-action="feature-image" loading="lazy"
          width="508" height="384" />

        <img src="/img/features/desk/features-4.png"
          srcset="/img/features/desk/features-4.png 1x, /img/features/desk/features-4@2x.png 2x"
          alt="Portraits of a man and a girl" id="features-4" class="feature-image" data-action="feature-image"
          loading="lazy" width="440" height="380" />

        <img src="/img/features/desk/features-5.png"
          srcset="/img/features/desk/features-5.png 1x, /img/features/desk/features-5@2x.png 2x"
          alt="Image of the game three in a row" id="features-5" class="feature-image" data-action="feature-image"
          loading="lazy" width="510" height="432" />

        <img src="/img/features/desk/features-6.png"
          srcset="/img/features/desk/features-6.png 1x, /img/features/desk/features-6@2x.png 2x"
          alt="Cards with ratings of game levels" id="features-6" class="feature-image" data-action="feature-image"
          loading="lazy" width="510" height="304" />

        <img src="/img/features/desk/features-7.png"
          srcset="/img/features/desk/features-7.png 1x, /img/features/desk/features-7@2x.png 2x"
          alt="Photos of the game covers" id="features-7" class="feature-image" data-action="feature-image"
          loading="lazy" width="510" height="384" />
      </div>
    </div>
  </div>
</section>
