<section class="section section-gallery" id="gallery">
  <div class="container">
    <h2>Gallery</h2>
    <h3 class="gallery-subtitle">See It. Taste It. Play It.</h3>
    <p class="gallery-text">
      Explore a colorful gallery of restaurants, puzzle stages, and character
      moments. Every screenshot is a flavor of what&apos;s possible. From
      elegant interiors to vibrant match explosions, Delish Match is a visual
      feast.
    </p>
    <div class="gallery-swiper-main-wrap">
      <div class="swiper gallery-swiper" data-swiper="gallery">
        <div class="swiper-wrapper gallery-swiper-wrap">
          <div class="swiper-slide swiper-slide-img">
            <picture
              ><source
                media="(min-width: 1200px)"
                srcset="
                  /img/gallery-screens/desctop/icecream-area-desc.jpg    1x,
                  /img/gallery-screens/desctop/icecream-area-desc@2x.jpg 2x
                "
                type="image/jpeg" />
              <source
                media="(min-width: 320px)"
                srcset="
                  /img/gallery-screens/mobile/icecream-area-mob.jpg    1x,
                  /img/gallery-screens/mobile/icecream-area-mob@2x.jpg 2x
                "
                type="image/jpeg" />
              <img
                src="/img/gallery-screens/mobile/icecream-area-mob.jpg"
                class="gallery-screen-game"
                alt="Crowd waiting at the ice cream area"
            /></picture>
          </div>
          <div class="swiper-slide swiper-slide-img">
            <picture
              ><source
                media="(min-width: 1200px)"
                srcset="
                  /img/gallery-screens/desctop/resource-cards-desc.jpg    1x,
                  /img/gallery-screens/desctop/resource-cards-desc@2x.jpg 2x
                "
                type="image/jpeg" />
              <source
                media="(min-width: 320px)"
                srcset="
                  /img/gallery-screens/mobile/resource-cards-mob.jpg    1x,
                  /img/gallery-screens/mobile/resource-cards-mob@2x.jpg 2x
                "
                type="image/jpeg" />
              <img
                src="/img/gallery-screens/mobile/resource-cards-mob.jpg"
                class="gallery-screen-game"
                alt="Three game resources: coins, energy, stage"
            /></picture>
          </div>
          <div class="swiper-slide swiper-slide-img">
            <picture
              ><source
                media="(min-width: 1200px)"
                srcset="
                  /img/gallery-screens/desctop/hotdog-menu-desc.jpg    1x,
                  /img/gallery-screens/desctop/hotdog-menu-desc@2x.jpg 2x
                "
                type="image/jpeg" />
              <source
                media="(min-width: 320px)"
                srcset="
                  /img/gallery-screens/mobile/hotdog-menu-mob.jpg    1x,
                  /img/gallery-screens/mobile/hotdog-menu-mob@2x.jpg 2x
                "
                type="image/jpeg" />
              <img
                src="/img/gallery-screens/mobile/hotdog-menu-mob.jpg"
                class="gallery-screen-game"
                alt="Hotdog menu with 6 items and prices"
            /></picture>
          </div>
          <div class="swiper-slide swiper-slide-img">
            <picture
              ><source
                media="(min-width: 1200px)"
                srcset="
                  /img/gallery-screens/desctop/unlock-recipe-desc.jpg    1x,
                  /img/gallery-screens/desctop/unlock-recipe-desc@2x.jpg 2x
                "
                type="image/jpeg" />
              <source
                media="(min-width: 320px)"
                srcset="
                  /img/gallery-screens/mobile/unlock-recipe-mob.jpg    1x,
                  /img/gallery-screens/mobile/unlock-recipe-mob@2x.jpg 2x
                "
                type="image/jpeg" />
              <img
                src="/img/gallery-screens/mobile/unlock-recipe-mob.jpg"
                class="gallery-screen-game"
                alt="Level 8 with energy cost and unlocked chili hotdog"
            /></picture>
          </div>
          <div class="swiper-slide swiper-slide-img">
            <picture
              ><source
                media="(min-width: 1200px)"
                srcset="
                  /img/gallery-screens/desctop/mission-card-desc.jpg    1x,
                  /img/gallery-screens/desctop/mission-card-desc@2x.jpg 2x
                "
                type="image/jpeg" />
              <source
                media="(min-width: 320px)"
                srcset="
                  /img/gallery-screens/mobile/mission-card-mob.jpg    1x,
                  /img/gallery-screens/mobile/mission-card-mob@2x.jpg 2x
                "
                type="image/jpeg" />
              <img
                src="/img/gallery-screens/mobile/mission-card-mob.jpg"
                class="gallery-screen-game"
                alt="Mission card with 3-star objectives and rewards"
            /></picture>
          </div>
          <div class="swiper-slide swiper-slide-img">
            <picture
              ><source
                media="(min-width: 1200px)"
                srcset="
                  /img/gallery-screens/desctop/awesome-rewards-desc.jpg    1x,
                  /img/gallery-screens/desctop/awesome-rewards-desc@2x.jpg 2x
                "
                type="image/jpeg" />
              <source
                media="(min-width: 320px)"
                srcset="
                  /img/gallery-screens/mobile/awesome-rewards-mob.jpg    1x,
                  /img/gallery-screens/mobile/awesome-rewards-mob@2x.jpg 2x
                "
                type="image/jpeg" />
              <img
                src="/img/gallery-screens/mobile/awesome-rewards-mob.jpg"
                class="gallery-screen-game"
                alt="Success screen with rewards and Awesome title"
            /></picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
