<section class="section hero-section" id="home">
  <div class="container">
    <div class="text-img-container">
      <div class="text-container">
        <h1 class="hero-title">Welcome to Delish Match <span>Match3 & Design</span></h1>

        <picture>
          <source srcset="./img/hero/desk-hero-section.png 1x, ./img/hero/desk-hero-section@2x.png 2x"
            media="(min-width: 1200px)" type="image/png">

          <source srcset="./img/hero/mob-hero-section.png 1x, ./img/hero/mob-hero-section@2x.png 2x"
            media="(min-width: 320px)" type="image/png">
          <img class="mob-hero-img" src="./img/hero/mob-hero-section.png" alt="Hero image">
        </picture>

        <p class="slogan"> <span class="play">Play.</span> <span class="design">Design.</span> <span
            class="serve">Serve.</span></p>

        <p class="slogan-desc">Build the restaurant empire of your dreams.</p>

        <p class="play-desc">
          Step into a world where creativity meets cuisine. Solve colorful match-3 puzzles, decorate stunning
          restaurants,
          and follow a heartwarming journey through the eyes of Amelia — your story begins in the kitchen.
        </p>

        <a href="https://play.google.com/store/apps/details?id=com.playdogsoft.tastyville&hl=en&gl=us" target="_blank"
          class="google-play-link">
          <picture>
            <source srcset="./img/hero/logos_google-play-icon.png 1x, ./img/hero/logos_google-play-icon@2x.png 2x"
              media="(min-width: 320px)" type="image/png">
            <img src="./img/hero/logos_google-play-icon.png" alt="Logo google play" class="google-play-logo">
          </picture>
          <span class="google-play-text">Download Free — Play Now on Google Play</span>
        </a>
      </div>

      <picture>
        <source srcset="./img/hero/desk-hero-section.png 1x, ./img/hero/desk-hero-section@2x.png 2x"
          media="(min-width: 1200px)" type="image/png">

        <source srcset="./img/hero/mob-hero-section.png 1x, ./img/hero/mob-hero-section@2x.png 2x"
          media="(min-width: 320px)" type="image/png">
        <img class="desk-hero-img" src="./img/hero/mob-hero-section.png" alt="Hero image">
      </picture>
    </div>
  </div>

</section>