<section class="section" id="management">
  <div class="container">
    <h2>Management</h2>
    <h3 class="management-subtitle">Hire. Train. Lead.</h3>
    <ul class="management-list">
      <li class="management-item item-reverse">
        <div class="management-item-inner grow">
          <h3 class="management-subtitle-item">Grow</h3>
          <p class="managment-text">
            As your business grows, managing your staff becomes crucial. Each
            employee has a unique personality and performance level.
          </p>
        </div>
        <picture>
          <source
            media="(min-width: 1200px)"
            type="image/png"
            srcset="
              /img/management/item-img/staff-management-desc.png    1x,
              /img/management/item-img/staff-management-desc@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            type="image/png"
            srcset="
              /img/management/item-img/staff-management-mob.png    1x,
              /img/management/item-img/staff-management-mob@2x.png 2x
            "
          />
          <img
            src="/img/management/item-img/staff-management-mob.png"
            class="management-item-img img-grow"
            alt="Woman with player cards"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="management-item">
        <div class="management-item-inner improve">
          <h3 class="management-subtitle-item">Improve</h3>
          <p class="managment-text">
            Upgrade their skills, motivate them during low-stamina periods, and
            keep service running smoothly. The right team makes all the
            difference.
          </p>
        </div>
        <picture>
          <source
            media="(min-width: 1200px)"
            type="image/png"
            srcset="
              /img/management/item-img/player-info-panel-desc.png    1x,
              /img/management/item-img/player-info-panel-desc@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            type="image/png"
            srcset="
              /img/management/item-img/player-info-panel-mob.png    1x,
              /img/management/item-img/player-info-panel-mob@2x.png 2x
            "
          />
          <img
            src="/img/management/item-img/player-info-panel-mob.png"
            class="management-item-img img-improve"
            alt="Player profile card with avatar and attributes"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
