<div class="mob-backdrop" data-visible="close">
  <div class="mob-menu" role="dialog" aria-modal="true" aria-labelledby="mobile-modal-title"
    aria-describedby="mobile-modal-description">
    <h2 id="mobile-modal-title" class="visually-hidden">Navigation menu</h2>
    <div class="logo-close-container">
      <a href="./index.html">
        <img src="/img/header/logo.png" alt="Logo" class="logo-img">
      </a>

      <button type="button" aria-label="Button for open mobile menu" data-action="close" class="close-btn">
        <svg width="32" height="32" class="close-icon">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <nav class="mob-nav">
      <ul class="mob-nav-list" data-action="navList">
        <li><a href="#home" class="mob-nav-link">Home</a></li>
        <li><a href="#about" class="mob-nav-link">About</a></li>
        <li><a href="#features" class="mob-nav-link">Features</a></li>
        <li><a href="#gameplay" class="mob-nav-link">Gameplay</a></li>
        <li><a href="#story" class="mob-nav-link">Story</a></li>
        <li><a href="#characters" class="mob-nav-link">Characters</a></li>
        <li><a href="#gallery" class="mob-nav-link">Gallery</a></li>

        <li><a href="#сustomization" class="mob-nav-link">Customization</a></li>
        <li><a href="#progression" class="mob-nav-link">Progression</a></li>
        <li><a href="#management" class="mob-nav-link">Management</a></li>
        <li><a href="#design" class="mob-nav-link">Design</a></li>
        <li><a href="#testimonials" class="mob-nav-link">Testimonials</a></li>
        <li><a href="#community" class="mob-nav-link">Community</a></li>
        <li><a href="#footer" class="mob-nav-link">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>