<section class="section">
  <div class="container progres-container">
    <h2>Progression</h2>
    <h3 class="progres-subtitle">From Street Cart to Culinary Empire</h3>
    <p class="progres-text margin-bottom">
      Begin with humble origins and grow your business step by step. Unlock new
      locations, develop your brand, and evolve your restaurant from a simple
      kitchen into a bustling chain.
    </p>
    <p class="progres-text margin-bottom-next">
      Each new venture brings fresh challenges, décor themes, and gameplay
      twists.
    </p>
    <video
      src="/img//video/design-preview.mp4"
      autoplay
      muted
      loop
      playsinline
      class="progres-demo-video"
      aria-label="Preview of the design section layout and responsiveness"
    ></video>
    <a
      href="https://play.google.com/store/apps/details?id=com.playdogsoft.tastyville&hl=en&gl=us"
      target="_blank"
      class="google-play-link"
    >
      <img
        src="/img/hero/logos_google-play-icon.png"
        srcset="
          /img/hero/logos_google-play-icon.png    1x,
          /img/hero/logos_google-play-icon@2x.png 2x
        "
        alt="Logo google play"
        class="google-play-logo"
      />
      <span class="google-play-text"
        >Download Free — Play Now on Google Play</span
      >
    </a>
  </div>
</section>
