<section class="section" id="story">
  <div class="container">
    <h2 class="story-title">Story</h2>

    <picture>
      <source srcset="./img/story/story-desk-img.png 1x, ./img/story/story-desk-img@2x.png 2x"
        media="(min-width: 1200px)" type="image/png">

      <source srcset="./img/story/story-mob-img.png 1x, ./img/story/story-mob-img@2x.png 2x" media="(min-width: 320px)"
        type="image/png">
      <img class="story-mob-img" src="./img/story/story-mob-img.png" alt="Story image" loading="lazy" />
    </picture>

    <p class="story-desc">
      Amelia&apos;s path isn&apos;t just about food — <span>it&apos;s about purpose.</span> Help her rediscover lost
      memories,
      reunite with loved
      ones, and build a new life one dish at a time. Experience touching moments, unexpected turns, and stories that
      make each level more meaningful.
    </p>
  </div>
</section>