.footer {
  padding-top: 24px;
  background-color: #f6deeb;
}

.footer-desc {
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}

.footer-contact-wrap {
  margin-bottom: 24px;
}

.footer-cta {
  margin-bottom: 8px;
}

.footer-contact-link {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.footer-legal-wrap {
  margin-bottom: 8px;
}

.footer-legal-list {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  row-gap: 4px;
  align-items: center;
  justify-content: center;
}

.center-item {
  text-align: center;
  min-width: 100%;
}

.footer-legal-item:not(:last-child) {
  position: relative;
  padding-right: 6px;
}

.footer-legal-item:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 15px;
  position: absolute;
  right: 0;
  transform: translate(50%, 10%);
  background-color: #181412;
}

.footer-legal-item:first-child::after {
  right: 31%;
}

.footer-legal-link {
  font-weight: 300;
}

.footer-copy-text {
  text-align: center;
  max-width: 206px;
  margin: 0 auto;
}

.footer-bg {
  min-height: 41px;
  background-image: url('/img/footer/footer-bg-mob.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
  .footer-bg {
    background-image: url('/img/footer/footer-bg-mob@2x.png');
  }
}

@media screen and (min-width: 1200px) {
  .footer-info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 64px;
  }

  .footer-desc {
    font-size: 24px;
    text-align: right;
    margin-bottom: 0;
    max-width: 551px;
  }

  .footer-contact-wrap {
    max-width: 320px;
    margin-bottom: 0;
  }

  .footer-title {
    margin-bottom: 24px;
    font-size: 24px;
  }

  .footer-legal-wrap {
    margin-bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
  }

  .footer-legal-list {
    margin-bottom: 0;
    column-gap: 8px;
    row-gap: 0;
    align-items: center;
  }

  .center-item {
    text-align: start;
    min-width: auto;
  }

  .footer-legal-item:not(:last-child) {
    padding-right: 8px;
  }

  .footer-legal-item:first-child::after {
    right: 0;
  }

  .footer-legal-link {
    font-weight: 400;
    font-size: 12px;
  }

  .footer-copy-text {
    max-width: 100%;
    margin: 0;
  }

  .footer-bg {
    min-height: 119px;
    background-image: url('/img/footer/footer-bg-desc.png');
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .footer-bg {
    background-image: url('/img/footer/footer-bg-desc@2x.png');
  }
}
