.gameplay-section {
  background-image: url(/img/gameplay/gameplay-mob-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 100%;
  height: 785px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gameplay-title {
  color: #fcfcfc;
  margin-bottom: 32px;
}

.gameplay-desc {
  color: #fcfcfc;
  margin-bottom: 32px;
}

.gameplay-desc span {
  font-weight: 600;
  color: #181412;
}

.gameplay-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.gameplay-item {
  border-radius: 8px;
  padding: 20px 34px;
}

.gameplay-item:nth-child(1) {
  background-color: #ffbfde;
}

.gameplay-item:nth-child(2) {
  background-color: #f6deeb;
}

.gameplay-item:nth-child(3) {
  background-color: #faecdb;
}

.gameplay-item:nth-child(4) {
  background-color: #f8f7f1;
}

.gameplay-text {
  text-align: center;
}

@media screen and (min-resolution: 192dpi) {
  .gameplay-section {
    background-image: url(/img/gameplay/gameplay-mob-bg@2x.png);
    background-size: auto 784px;
  }
}

@media (min-width: 1200px) {
  .gameplay-section {
    background-image: url(/img/gameplay/gameplay-desk-bg.png);
    width: 100%;
    height: 598px;
  }

  .gameplay-title {
    font-weight: 400;
    font-size: 48px;
  }

  .gameplay-desc {
    font-size: 20px;
    text-align: center;
    max-width: 652px;
    margin: 0 auto 32px;
  }

  .gameplay-desc span {
    font-weight: 400;
    color: #181412;
    border-radius: 4px;
  }

  .gameplay-desc span:nth-child(1) {
    background-color: #ffbfde;
  }

  .gameplay-desc span:nth-child(2) {
    background-color: #f6deeb;
  }

  .gameplay-desc span:nth-child(3) {
    background-color: #faecdb;
  }

  .gameplay-desc span:nth-child(4) {
    background-color: #f8f7f1;
  }

  .gameplay-list {
    justify-content: center;
    flex-direction: row;
    gap: 24px;
  }

  .gameplay-item {
    width: 100%;
    max-width: 240px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .gameplay-section {
    background-image: url(/img/gameplay/gameplay-desk-bg@2x.png);
    background-size: 1200px 598px;
  }
}
