.legal-header {
  padding-top: 24px;
  padding-bottom: 16px;
}

.legal-link-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 16px;
  border: 1px solid #fc4c2a;
  border-radius: 8px;
  background-color: #ef71a2;
  max-width: 163px;
  transition: background-color 0.3s;
}

.legal-link-header:hover,
.legal-link-header:focus {
  background-color: #ffbfde;
}

.nav-home-icon {
  fill: #fcfcfc;
  transition: fill 0.3s;
}

.legal-link-header:hover .nav-home-icon,
.legal-link-header:focus .nav-home-icon {
  fill: #181412;
}

.legal-link-text {
  color: #fcfcfc;
  font-size: 20px;
  transition: color 0.3s;
}

.legal-link-header:hover .legal-link-text,
.legal-link-header:focus .legal-link-text {
  color: #181412;
}

@media screen and (min-width: 1200px) {
  .legal-header {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}